.file_header {
  color: aliceblue;
  .file_input {
    color: aliceblue;
  }
}

.successInfo {
  color: aliceblue;
  max-width: 25rem;
  margin-top: 4rem;
  text-align: center;
  span {
    color: green;
  }
}

.successButton {
}

.modalButton {
  margin: 0;
}

.modalButton {
  margin-top: 4rem;
  margin-left: 5rem;
}

.my-modal {
  width: 90vw;
  max-width: 90vw;
}
